<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="local-test, local-prod">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="test, prod">
        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${logging.file.name}</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${logging.file.name}.%d{yyyy-MM-dd}</fileNamePattern>
                <totalSizeCap>20GB</totalSizeCap>
                <maxHistory>60</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>[%p] [%d{yyyy-MM-dd HH:mm:ss}] [%c{40}] %m%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

</configuration>